@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

header {
    @include flex-valores(null, center);
    justify-content: center;
    gap: 10px;
    background: $bg-header;
    transition: 0.5s;
    background-size: 200% auto;
    outline: none;
    border: none;

    img {
        width: 150px;
        border-radius: 100%;
        margin: 5px;
    }
}

header:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
}

.nav-link {
    color: white;
    font-size: 20px;
}

.activo {
    color: rgb(0, 247, 255);
}