$bg-header: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(255, 0, 255, 1) 50%, rgba(0, 0, 255, 1) 100%);
$bg-main-index: rgb(255, 255, 255);
$bg-pages-productos: rgb(255, 255, 255);
$bg-footer: linear-gradient(90deg, rgba(0, 0, 255, 1) 0%, rgba(255, 0, 255, 1) 50%, rgba(0, 0, 255, 1) 100%);
$color-h1: rgb(255, 255, 255);
$color-h2: rgb(0, 0, 0);