@use '../utilities/variables' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

img {
    width: 290px;
}

h1 {
    color: $color-h1;
    font-size: 50px;
}

h2 {
    color: $color-h2;
    font-size: 40px;
}